<div class="container">

    <div class="profile-box">


        <h1>Perfil</h1>


        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input formControlName="name" type="name" class="form-control" placeholder="nombre">
            </div>
            <div class="mb-3">
                <!-- Select File -->
                <input class="d-none" #file type="file" accept="image/*" (change)="showPreview($event)" />
                <button class="btn btn-primary mb-4" (click)="file.click()">Cambiar imagen</button>
                <!-- Image Preview -->
                <div class="imagePreview" >
                    <img [src]="imageURL" [alt]="uploadForm.value.name" *ngIf="imageURL && imageURL !== ''">
                </div>
            </div>
            <div class="d-grid mt-4">
                <input type="submit" class="btn btn-primary" value="Guardar">
            </div>


        </form>
    </div>
</div>