

.page-item .page-link{
    background-color: var(--bg-primary);
    color: var(--text-color);
    cursor: pointer;
}

.page-item.active .page-link{
    background-color: var(--bs-link-color);
    color: #fff
}