<div class="container">

    <p>auth works!</p>

    <p>
        {{data | json}}
    </p>

    <iframe width="560" height="315" [src]="url" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

        <div>
            <label for="name">
                Name
            </label>
            <input id="name" class="input" type="text" formControlName="name">
        </div>

        <div>
            <label for="address">
                Address
            </label>
            <input id="address" class="input" type="text" formControlName="address">
        </div>

        <button class="button" type="submit">Purchase</button>

    </form>
    <a [routerLink]="['/']">
        link to user component
    </a>
</div>