.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 55px);
}
.auth-box{
  
    max-width: 500px;
    width: 100%;
    background-color: var(--bg-primary);
    border-radius: 20px;
    padding: 1rem;
}