.card {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    transition: 300ms;

    & .card-title {
        font-size: 1.25rem;
        font-weight: bolder;
    }
}

.cover-card {
    position: relative;
}

.cover-info {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: 300ms;
    cursor: pointer;
    color: #eee;
}

.card:hover {
    transform: scale(1.05);

}

.card:hover .cover-info {
    display: flex;
}

.description {
    // flex: 1;
    // height: 100px;
    font-size: 0.8rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover-title {
    font-size: 1.1rem;
    font-weight: bolder;
}

.average {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: 600;
}